#main-header {
    background-image: url(../images/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    opacity: 0.9;
    background-position: center;
    width: 100%;
}

.zajawka h1 {
    font-family: 'Lobster', cursive, sans-serif;
    color: black;

    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 100px;
    opacity: 0.99;
}

.zajawka h2 {
    font-family: 'Lobster', cursive, sans-serif;
    color: black;
    padding-left: 100px;
    opacity: 0.99;
}

#main-menu {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.clear {
    clear: both;
}

.menu li {
    display: inline;
    list-style: none;

    padding: 5px;
    margin: 10px;
}

body {
    margin: 0;
}

.logo {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url("../images/logo.png");
    background-size: contain;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: yellowgreen;
}

body {
    margin: 0;
}

.funkcjonalnosci {
    /*text-align: center;*/
    margin: 0;
    padding: 0;
    text-align: center;
}

.funkcjonalnosci li {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 150px;
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center 20px;
    vertical-align: middle;
}

.funkcja-info-o-obiekcie {
    background-image: url('../images/ikona-info.png');
}

.funkcja-mapa {
    background-image: url('../images/ikona-mapa.png');
}

.funkcja-trener {
    background-image: url("../images/ikona-trener.png");

}

.funkcja-plan {
    background-image: url("../images/ikona-planu.png");
}

#dolacz-do-nas {
    text-align: center;

}

#dolacz-do-nas input {
    font-size: 24px;
}
.input-email {
    width: 380px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.button {
    border-radius: 5px;
    background-color: rgb(181, 67, 160);
    color: whitesmoke;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #bd5dac;
}
#dolacz-do-nas header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
#dolacz-do-nas header h2 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.o-nas li{
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 250px;
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center 20px;
    vertical-align: middle;
}

.o-nas {
    background-color: #d3caa3;
    margin: 0;
    padding: 0;
    text-align: center;
}

.o-teamie-naglowek {
    text-align: center;
}
.informacje-o-dominice{
    background-image: url("../images/dominika-zdjecie-zespolu.png");
}

.informacje-o-michale-p {
    background-image: url("../images/michal-p-zdjecie-zespolu.png");
}

.informacje-o-adamie {
    background-image: url("../images/adam-zdjecie-zespolu.png");
}

.informacje-o-michale-k {
    background-image: url("../images/michal-k-zdjecie-zespolu.png");
}