section {
    margin-bottom: 50px;

}

body {
    margin: 0;
    font-size: 22px;
    margin-top: 75px;
    min-width: 280px;
    font-family: "Francois One", sans-serif;
}
.clear {
    clear: both;
}
.container {
    width: 165px;
    float: left;

}
#funkcjonalnosci li:last-child:after, .logo:after {
    display: block;
    clear: both;
    content: '';
}
.logo {
    float: left;
    margin: 0 auto;
    display: block;
}
.logo img {
    width: 165px;
}

.menu li a:hover {
    border-bottom: 3px solid #b543a0;
}

.main-header {
    min-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.main-menu {

    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 100;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-header a {
    width: 13.75%;
}
.menu {
    width: 86.25%;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.parallax-viewporrt img {
}

.phone{
    background-position: center left;
    position: absolute;
    background-image: url("../images/reka-z-telefonem.png");
    background-size: contain;
    z-index: 0;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    margin: 0;
}

.woman {
    background-position:right center;
    position: absolute;
    background-image: url("../images/woman.png");
    background-size: contain;
    z-index: 0;
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;
    float: right;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.zajawka {
    background-image: url("../images/samo-tlo.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center 63px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

#title {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.header-zajawka {
    width: 250px;
    height: auto;
    z-index: 9;
}

.zajawka h1 {
    font-family: 'Francois One', sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: 300;
}

.zajawka h2 {
    font-family: 'Francois One', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color: black;
}

.funkcjonalnosci {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 0;
    text-align: center;
    font-size: 1em;
}

.funkcjonalnosci li {
    display: inline-block;
    width: 250px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 150px;
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center 20px;
    vertical-align: middle;
    font-family: 'Francois One', sans-serif;
}

.funkcja-info-o-obiekcie {
    background-image: url('../images/ikona-info.png');
}

.funkcja-mapa {
    background-image: url('../images/ikona-mapa.png');
}

.funkcja-trener {
    background-image: url("../images/ikona-trener.png");

}

.funkcja-plan {
    background-image: url("../images/ikona-planu.png");
}

.przerywnik {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.przerywnik div {
    background-color: #b543a0;
    /*background: linear-gradient(#d3caa3, #d3cb73);*/
    height: 3px;
    width: 80%;
    border: 1px;
    border-radius: 90px;
}

.dolacz-do-nas {
    text-align: left;
    display: block;
    font-family: 'Francois One', sans-serif;
    padding-left: 150px;
    padding-top: 63px;
    padding-bottom: 63px;
    background-image: url("../images/ikona-koperty.png");
    background-position: left 97px;
    background-size: 120px auto;
    background-repeat: no-repeat;
    max-width: 700px;
    margin: 0 auto;
}


.dolacz-do-nas input {
    font-size: 1.1em;

}

.input-email {
    max-width: 380px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button {
    border-radius: 5px;
    background-color: #b543a0;
    color: whitesmoke;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #bd5dac;
}

.dolacz-do-nas header h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    text-align: center;
}

.dolacz-do-nas header h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
}

.dolacz-do-nas fieldset {
    border: none;
    padding-left: 0;
}

.dolacz-do-nas small {
    font-size: 0.5em;
    color: grey;
    padding: 8px;
    border: none;
    text-align: left;
    padding-left: 0;
}

.nad-sekcja-o-nas {
    width: auto;
    min-height: 600px;
    background-image: url("../images/zdjecie-do-tla-zajawki.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: none;

}

.o-nas li {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 250px;
    padding-left: 0;
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center 20px;
    vertical-align: middle;
    font-family: "Francois One", sans-serif;
}

.zdjecia-o-nas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.margin-container {
    margin: 20px;
}

.o-nas {
    background-color: #d3caa3;
    background: linear-gradient(#d3caa3, #d3cb73);
    text-align: center;
    font-family: "Francois One", sans-serif;
    padding-top: 1px;
    padding-bottom: 85px;
    margin-bottom: 0;
}

.o-nas ul {
    padding-left: 0;
}

.hero {
    background-image: url("../images/postac-ground.png");
    background-size: contain;
    background-position: bottom;
    height:30vw;
    bottom: 24px;
    left: 38px;
    width:8vw;
    position: absolute;
    background-repeat: no-repeat;
    display: none;
}

.jump {
    background-image: url("../images/postac-air.png");
    background-size: contain;
    background-position: bottom;
    bottom: 28px;
    height:32vw;
    left: 38px;
    width:8vw;
    position: absolute;
    background-repeat: no-repeat;
    display: none;
}

.shadow {
    background-image: url("../images/postac-shadow.png");
    height: 15px;
    width: 85px;
    position: absolute;
    background-repeat: no-repeat;
    top: 315px;
    left: 40px;
    display: none;
}

.success, .game-over {

    width: 255px;
    height: 255px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    top: 16%;
    left: 39%;
}
.success {
    background-image: url("../images/success.png");
}
.game-over {
    background-image: url("../images/gameover.png");
}
.cover-final {
    transition: none;
}

.o-teamie-naglowek {
    display: inline;
    margin-top: 0px;
    text-align: center;
    font-family: "Francois One", sans-serif;
}

.circle-container {

    position: relative;
    perspective: 1000;
    margin: auto;
}

.circle-container:hover .circle {
    transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
    transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
    transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container, .front, .back {
    width: 174px;
    height: 174px;
    background-color: rgba(0,0,0,0);
}

.circle, .outer-ring, .outer-outer-ring {
    transition: 0.5s;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
    position: relative;
    width: 174px;
    height: 174px;
}

.front, .back {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {

    background-size: contain;
    z-index: 2;
}

.back-tlo {

    margin-top: 0;
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.back-tlo img{

    margin-top: 43px;
    height: 50%;
    width: 50%;
}

.back {
    transform: rotate3d(45,45,0,180deg);
    background-color: #b543a0;

}

.back-logo {
    width: 60%;
    display: block;
    margin: 2em auto;

}

.outer-ring {
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 190px;
    height: 190px;
    background-color: rgba(255,255,255,0);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 210px;
    height: 210px;
    background-color: rgba(255,255,255,0);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


.informacje-o-dominice {
    background-image: url("../images/dominika-zdjecie-zespolu.png");
}

.informacje-o-michale-p {
    background-image: url("../images/michal-p-zdjecie-zespolu.png");
}

.informacje-o-adamie {
    background-image: url("../images/adam-zdjecie-zespolu.png");
}

.informacje-o-michale-k {
    background-image: url("../images/michal-k-zdjecie-zespolu.png");
}

.logo-stopki {
    height: 29px;
    width: 104px;
    background-image: url(../images/logo-nowe.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}

footer {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    margin: 5px;
}

footer * {
    display: inline-block;
    vertical-align: bottom;
}

.mail-stopka {
    text-decoration: none;
    color: black;
}

.wszelakie-wszelakosci-stopkowe * {
    display: inline-block;
}



/*gra*/
.game {
    background-image: url("../images/background-game-with-hurdle.jpg");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 35px;
    min-height: 349px;
    max-width: 1200px;

}

.rekaztelefonem {
    min-width: 609px;
    min-height: 669px;
    background: url("../images/reka-z-telefonem.png");
    background-repeat: no-repeat;
    position: absolute ;
}

.button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 100px;
    border-radius: 50rem;
    background-color: #b543a0;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid grey;
    position: absolute;
    z-index: 5;

}
.button-start:hover {
    background-color: #bd5dac;
}
.hidden {
    display: none
}
.transparent {
    opacity: 0;
}
.translucent {
    opacity: 0.8;
}

.translucent2 {
    opacity: 0.7;
}
.cover {
    position: absolute;
    background-color: white;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
}
.legend {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/legend.png");
}
.restart {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #3c3636;
    color: white;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
    border: none;
    font-size: 2.7em;
}
.restart:hover {
    background-color: #484848;
}

/*ustawienia dla telefonu*/
@media screen and (max-width:767px) {
    body {
        font-size: 16px;
    }
    .main-header a {
        width: 43px;
        overflow: hidden;
    }
    .menu {
        line-height: 1.2em;
        margin-top: 10px;
    }
    .zajawka {
        min-height: 75vh;
    }
    #dolacz-do-nas {
        max-width: 500px;
        padding-left: 0;
        padding-top: 150px;
        background-position: center 65px;
        text-align: center;

    }
    .menu li {
        padding-bottom: 4px;
    }
    .woman, .phone {
        display: none;
    }
    .game, .legend  {
        display: none;

    }
}

/*ustawienia dla tabletu*/
@media screen and (min-width: 768px) and (max-width: 991px){
    /*.game, .legend  {*/
    /*display: none;*/

    /*}*/
    body {
        font-size: 18px;
    }
    .zajawka {
        background-size: contain;
        min-height: 50vh;
        background-position: center 55px;
    }

    .zajawha h1 {
        font-size: 1.3em;
    }

    .zajawha h2 {
        font-size: 1.5em;
    }

    .header-zajawka {
        max-width: 200px;
    }
    .phone .woman {
        display: none;
    }

    #dolacz-do-nas {
        max-width: 500px;
        padding-left: 0;
        padding-top: 150px;
        background-position: center 65px;
        text-align: center;
    }
    .dolacz-do-nas fieldset{
        padding-left: 13.5px;
    }
    .dolacz-do-nas small {
        padding-left: 8px;
    }
}
