.zajawka {
    background-image: url(../images/tlo-2.png);
    background-size: contain;
    min-height: 100vh;
    opacity: 0.5;
}

h1 {
    font-family: "DejaVu Serif", sans-serif;
    color: black;

    padding: 100px;
    opacity: 0.99;
}